@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:wght@300;500;700&display=swap');

/* Global Style */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html{
    font-size: 62.5%;
}

body {
    background-color: #4c4c4c;
    font-size: 1.6rem;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    box-shadow: 0px 1.5rem 1rem #222222;
    background-color: white;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    width: 100%;
}

.hidden {
    display: none;
}

/* Headings and Paragraphs */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

h1 {
    font-family: 'Bungee Shade', 'Arial', sans-serif;
    font-size: 5rem;
    color: #df8d30;
    line-height: 120%;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Montserrat', 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6;
}

/* Buttons */
.btn {
    font-family: 'Montserrat', 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #278789;
    border-radius: 0.5rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0px 0.5rem 0.5rem #4c4c4c;
    transform: translateY(-0.3rem);
    transition: 100ms;
}

.difficulty-btn {
    font-size: 2rem;
    color: #FCF7FF
}

#answers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 75%;
}

.answers-text {
    color: #FCF7FF;
    margin: 0.5rem 0;
    align-self: center;
}

/* Title Screen */
#title-screen {
    padding: 2rem;
}

#difficulty-menu {
    width: 20rem;
}


/* Game Screen */
#game-window {
    padding: 2rem;
}

.correct {
    background-color: #5fc254;
}

.incorrect {
    background-color: #DC493A;
}

#progress {
    width: 75%;
    height: 1rem;
    background-color: #4c4c4c;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    margin-bottom: 2rem;
}

#progress-marker {
    color: #df8d30;
    font-size: 3rem;
    bottom: 3.2rem;
    position: relative;
    grid-column: 1;
}

#finish-line {
    color: #df8d30;
    font-size: 3rem;
    bottom: 3rem;
    left: 2.5rem;
    position: relative;
    grid-column: 50;
}

#strikes * {
    font-size: 2rem;
    padding: 1rem 0.5rem;
    color: #DC493A;
}

/* Media Queries */
@media screen and (max-width: 576px) {
    h1 {
        font-size: 4.5rem;
    }

    #answers {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 350px) {
    h1 {
        font-size: 3.5rem;
    }

    h2,
    p{
        font-size: 1.25rem;
    }
}